<div class="sidebar">
  <h3>espace<br>Professeur</h3>
  <ul>
    <li><a routerLink="/esp-professeur" routerLinkActive="active">Mon emploi du temps</a></li>
    <li><a routerLink="/saisir-notes" routerLinkActive="active">Saisir notes</a></li>
    <li><a routerLink="/saisir-absences" routerLinkActive="active">Saisir absences</a></li>
    <li><a routerLink="/voir-absences" routerLinkActive="active">Voir absences</a></li>
  </ul>
  <button class="btn-deconnexion" (click)="seDeconnecter()"> Déconnexion</button>
</div>