<section class="hero">
  <div class="hero-left">
    <h1>Bienvenue</h1>

    <button class="btn" [routerLink]="['/login-professeur']">
      Espace Professeur
    </button>

   <button class="btn secondary" [routerLink]="['/login-adminis']">
  Espace Administration
</button>

    <button class="btn" [routerLink]="['/login-etudiant']">
      Espace Étudiant
    </button>
  </div>

  <div class="hero-right">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Highline_High_School.jpg" alt="Ecole">
  </div>
</section>
