<div class="sidebar">
  <h2>espace Admin</h2>
  <ul>
    <li><a routerLink="/gerer-p" routerLinkActive="active">compte Professeur</a></li>
    <li><a routerLink="/gerer-adms" routerLinkActive="active">compte Administration</a></li>
    <li><a routerLink="/gerer-etudiant" routerLinkActive="active">compte etudiant</a></li>
    <li><a routerLink="/demandes-comptes" routerLinkActive="active">Demandes comptes</a></li>
  </ul>
  <button class="btn-deconnexion" (click)="seDeconnecter()"> Déconnexion</button>
</div>