<div class="page-wrapper">

  <!-- Colonne gauche -->
  <div class="left-side">
    <app-profil></app-profil>
    
  </div>

  <!-- Classes list -->
  <div class="classes">
    <h3>Liste des classes</h3>
    <ul>
      <li>Classe 1</li>
      <li>Classe 2</li>
    </ul>
  </div>

  <!-- Content section -->
  <div class="content">
    <table class="student-table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Absence</th>
          <th>Retard</th>
          <th>present</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dupont</td>
          <td>Jean</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
        </tr>
      </tbody>
    </table>

    <div class="save-btn">
      <div class="save-controls">
        <input type="number" placeholder="N° séance" min="1" class="seance-input" />
        <input type="date" class="date-input" />
        <button>Enregistrer</button>
      </div>
    </div>
  </div>

</div>