<div class="layout">
  <div class="sidebar">
    <h3>espace Administration</h3>
    <ul>
      <li><a routerLink="/esp-adminis" routerLinkActive="active">visiualisation</a></li>
      <li><a routerLink="/lesclasses" routerLinkActive="active">Classes et matieres</a></li>
      
      <li><a routerLink="/lesprofs-adminis" routerLinkActive="active">Professeurs</a></li>
      <li><a routerLink="/lesetudiants" routerLinkActive="active">Étudiants</a></li>
     <li><a routerLink="/affectations" routerLinkActive="active">Affectations</a></li>
     <li><a routerLink="/emploidutemps" routerLinkActive="active">les emploies</a></li>
     
    </ul>
  </div>

  <div class="content">
   
  </div>
</div>
